<%- include("header") -%>

<h2>This is the about page</h2>

<p>Hi I am Vivek Raj and with this TodoList you can have funcionalities to add and delete items for specific TodoList</p>

<%- include("footer") -%>
